[[template "prefix" .]]

			[[template "menu" .]]

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody>
				[[range $client := .Clients]]
						<tr>
							<td><a href="[[url "client"]]?id=[[$client.Id]]">[[$client.Name]]</a></td>
						</tr>
				[[end]]
					</tbody>
				</table>
			</div>
			
			<a class="btn btn-default" aria-label="Left Align" href="[[url "client"]]">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Novo Cliente
			</a>

[[template "posfix" .]]