[[template "prefix" .]]

      [[template "menu" .]]
      
      <form action="[[url "client"]]" method="post">
        <input type="hidden" name="id" value="[[.Client.Id]]">
      
        [[$msg := index .FieldMessage "name"]]
        <div class="form-group [[if ne $msg ""]]has-error[[end]]">
          <label for="name" class="control-label">Nome</label>
          <input type="text" class="form-control" id="name" name="name"
            value="[[.Client.Name]]" required>
          [[if ne $msg ""]]
          <p class="help-block">[[$msg]]</p>
          [[end]]
        </div>
        [[$msg := index .FieldMessage "birthday"]]
        <div class="form-group [[if ne $msg ""]]has-error[[end]]">
          <label for="birthday" class="control-label">Data de nascimento</label>
          <input type="date" class="form-control" id="birthday" name="birthday"
            value="[[.Client.Birthday]]" required>
          [[if ne $msg ""]]
          <p class="help-block">[[$msg]]</p>
          [[end]]
        </div>
        [[$msg := index .FieldMessage "weight"]]
        <div class="form-group [[if ne $msg ""]]has-error[[end]]">
          <label for="weight" class="control-label">Peso</label>
          <input type="number" class="form-control" id="weight" name="weight"
            value="[[.Client.Weight]]">
          [[if ne $msg ""]]
          <p class="help-block">[[$msg]]</p>
          [[end]]
        </div>
        
        <button type="submit" class="btn btn-success">Salvar</button>
      </form>
      
      [[if gt .Client.Id 0]]
      <div class="table-responsive">
        <table class="table table-hover">
          <caption>Matr&iacute;culas</caption>
          <thead>
            <tr>
              <th>Turma</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            [[range $enrollment := .Enrollments]]
            <tr>
              <td>
                <a href="[[url "enrollment"]]?id=[[$enrollment.Id]]&back=[[url "client"]]%3Fid=[[.Client.Id]]">
                  [[$enrollment.Group.Name]]
                </a>
              </td>
              <td>[[$enrollment.Type]]</td>
            </tr>
            [[end]]
          </tbody>
        </table>
      </div>
      
      <a class="btn btn-default" aria-label="Left Align" href="[[url "enrollment"]]?back=[[url "client"]]%3Fid=[[.Client.Id]]">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nova Matr&iacute;cula
      </a>
      [[end]]

      [[if ne .Message ""]]
      <div class="alert alert-danger" role="alert">[[.Message]]</div>
      [[end]]

[[template "posfix" .]]