[[template "prefix" .]]

      [[template "menu" .]]

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Local</th>
              <th>Dia da Semana</th>
            </tr>
          </thead>
          <tbody>
        [[range $group := .Groups]]
            <tr>
              <td><a href="[[url "group"]]?id=[[$group.Id]]">[[$group.Name]]</a></td>
              <td>[[$group.Place.Name]]</td>
              <td>
                [[range $schedule := $group.Schedules]]
                [[$schedule.Weekday]]&nbsp;
                [[end]]
              </td>
            </tr>
        [[end]]
          </tbody>
        </table>
      </div>

      <a class="btn btn-default" aria-label="Left Align" href="[[url "group"]]">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nova Turma
      </a>

[[template "posfix" .]]
