<!doctype html>

<html lang="en" data-ng-app="druns">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Web application that schedule clients in a weekday agenda">
		<meta name="author" content="Rafael Dantas Justo">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/assets/css/druns.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">

		<title>Druns</title>
	</head>
	
	<body data-ng-init="clientFormMode = false">
		<table data-ng-controller="scheduleCtrl"
			data-ng-hide="$root.clientFormMode"
			data-ng-init="weekday = WEEKDAYS.sunday">
			<thead>
				<tr>
					<th></th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.sunday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.sunday}">
						Dom
					</th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.monday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.monday}">
						Seg
					</th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.tuesday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.tuesday}">
						Ter
					</th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.wednesday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.wednesday}">
						Qua
					</th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.thursday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.thursday}">
						Qui
					</th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.friday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.friday}">
						Sex
					</th>
					<th class="weekday"
						data-ng-click="weekday = $root.WEEKDAYS.saturday"
						data-ng-class="{selectedweekday: weekday == $root.WEEKDAYS.saturday}">
						Sab
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="time in times">
					<th>{{time}}</th>
					<td colspan="7" data-ng-click="newClient()">
						<div class="client"
							data-ng-repeat="client in clientsAt(time, weekday)"
							data-ng-click="editClient($event, client)"
							data-ng-init="clientStyle[client.id] = {'background-color': clientColor(client)}"
							data-ng-style="clientStyle[client.id]">
							{{client.name}}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<form data-ng-controller="clientFormCtrl" data-ng-show="$root.clientFormMode">
			<fieldset>
				<label for="name">Nome</label>
				<input type="text" id="name" data-ng-model="client.data.name"/>
			</fieldset>

			<button data-ng-click="addClass()">Adicionar Aula</button>

			<fieldset data-ng-repeat="class in client.data.classes track by $index">
				<label>Dia da Semana</label>
				<select data-ng-model="client.data.classes[$index].weekday">
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.sunday">
						Domingo
					</option>
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.monday">
						Segunda-feira
					</option>
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.tuesday">
						Ter&ccedil;a-feira
					</option>
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.wednesday">
						Quarta-feira
					</option>
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.thursday">
						Quinta-feira
					</option>
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.friday">
						Sexta-feira
					</option>
					<option data-ng-selected="client.data.classes[$index].weekday == $root.WEEKDAYS.saturday">
						S&aacute;bado
					</option>
				</select>

				<label>Hor&aacute;rio</label>
				<input type="time" min="05:00:00" max="23:30:00"
					data-ng-model="client.data.classes[$index].time" required />

				<label>Dura&ccedil;&atilde;o</label>
				<input type="range" min="30" max="120"
					data-ng-model="client.data.classes[$index].duration" required />
				{{client.data.classes[$index].duration}} minutes

				<button data-ng-click="removeClass($index)">Remover</button>
			</fieldset>

			<button data-ng-click="$root.clientFormMode = false">Cancelar</button>
			<button data-ng-click="save()">Salvar</button>
		</form>
		
		<footer>
      <small>© Copyright 2014 Rafael Dantas Justo. Todos os direitos reservados.</small>
    </footer>
		
		<script src="/assets/js/angular.min.js"></script>
		<script src="/assets/js/moment.min.js"></script>
		<script src="/assets/js/druns.js"></script>
	</body>
</html>