[[template "prefix" .]]

      [[template "menu" .]]

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
        [[range $place := .Places]]
            <tr>
              <td><a href="[[url "place"]]?id=[[$place.Id]]">[[$place.Name]]</a></td>
            </tr>
        [[end]]
          </tbody>
        </table>
      </div>
      
      <a class="btn btn-default" aria-label="Left Align" href="[[url "place"]]">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Novo Local
      </a>

[[template "posfix" .]]