[[define "menu"]]
			<p class="text-right text-uppercase">
				<span class="text-uppercase"><strong>[[.Username]]</strong></span><br/>
				<small>[[.Time]]</small>
			</p>

			<ul class="nav nav-tabs nav-justified" role="navigation">
			  <li role="presentation" [[if eq .Menu "schedule"]]class="active"[[end]]>
			  	<a href="[[url "schedule"]]">Agenda</a>
			  </li>
			  <li role="presentation" [[if eq .Menu "reports"]]class="active"[[end]]>
			  	<a href="[[url "report"]]">Relat&oacute;rios</a>
			  </li>
			  <li role="presentation" [[if eq .Menu "groups"]]class="active"[[end]]>
			  	<a href="[[url "groups"]]">Turmas</a>
			  </li>
			  <li role="presentation" [[if eq .Menu "clients"]]class="active"[[end]]>
			  	<a href="[[url "clients"]]">Clientes</a>
			  </li>
			  <li role="presentation" [[if eq .Menu "administrators"]]class="active"[[end]]>
			  	<a href="[[url "administrators"]]">Administradores</a>
			  </li>
			</ul>
[[end]]