<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
    <meta name="description" content="Web application that schedule clients in a weekday agenda">
    <meta name="author" content="Rafael Dantas Justo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Druns</title>
	</head>
	
	<body>
		<table>
			<tr>
				<th></th>
				<th>Domingo</th>
				<th>Segunda-Feira</th>
				<th>Terça-Feira</th>
				<th>Quarta-Feira</th>
				<th>Quinta-Feira</th>
				<th>Sexta-Feira</th>
				<th>Sábado</th>
				<th>Domingo</th>
			</tr>
			<!-- TODO: AngularJS magic! -->
		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	</body>
</html>