[[template "prefix" .]]

      [[template "menu" .]]
                
      <form action="[[url "class"]]" method="post">
        <input type="hidden" name="id" value="[[.Class.Id]]">
        
        <h2>[[.Class.Group.Name]]</h2>
        <h3>Place</h3> [[.Class.Group.Place.Name]]
        <h3>Begin</h3> [[.Class.BeginAt]]
        <h3>End</h3> [[.Class.EndAt]]

        <div class="table-responsive">
          <table class="table table-hover">
            <caption><h3>Students</h3></caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Attended?</th>
              </tr>
            </thead>
            <tbody>
              [[range $student := .Class.Students]]
              <tr>
                <td>
                  <a href="[[url "client"]]?id=[[$student.Enrollment.Client.Id]]">
                    [[$student.Enrollment.Client.Name]]
                  </a>
                </td>
                <td>
                  <input type="checkbox" name="student-[[$student.Id]]" 
                    value="1" [[if $student.Attended]]checked="checked"[[end]]>
                </td>
              </tr>
              [[end]]
            </tbody>
          </table>
        </div>
        
        <button type="submit" class="btn btn-success">Save</button>
      </form>

      [[if ne .Message ""]]
      <div class="alert alert-danger" role="alert">[[.Message]]</div>
      [[end]]

[[template "posfix" .]]