[[template "prefix" .]]

			[[template "menu" .]]

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Location</th>
							<th>Weekday</th>
							<th>Time</th>
						</tr>
					</thead>
					<tbody>
				[[range $group := .Groups]]
						
				[[end]]
					</tbody>
				</table>
			</div>
			
			<a class="btn btn-default" aria-label="Left Align" href="[[url "group"]]">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Group
			</a>

[[template "posfix" .]]