<!doctype html>

<html lang="en" data-ng-app="druns">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Web application that schedule clients in a weekday agenda">
		<meta name="author" content="Rafael Dantas Justo">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/assets/css/druns.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">

		<title>Druns</title>
	</head>
	
	<body data-ng-init="clientFormMode = false">
		<table data-ng-controller="scheduleCtrl" data-ng-hide="$root.clientFormMode">
			<thead>
				<tr>
					<th></th>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="time in times">
					<th>{{time}}</th>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.sunday)" client="client" /></td>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.monday)" client="client" /></td>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.tuesday)" client="client" /></td>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.wednesday)" client="client" /></td>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.thursday)" client="client" /></td>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.friday)" client="client" /></td>
					<td><client data-ng-repeat="client in clientsAt(time, $root.WEEKDAYS.saturday)" client="client" /></td>
				</tr>
			</tbody>
		</table>
		
		<button data-ng-click="clientFormMode = true" data-ng-hide="clientFormMode">New Client</button>

		<form data-ng-controller="clientFormCtrl" data-ng-show="$root.clientFormMode">
			<fieldset>
				<label for="name">Name</label>
				<input type="text" id="name" data-ng-model="client.name"/>
			</fieldset>

			<button data-ng-click="addClass()">Add Class</button>

			<fieldset data-ng-repeat="class in client.classes track by $index">
				<label>Weekday</label>
				<select data-ng-model="client.classes[$index].weekday">
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.sunday">Sunday</option>
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.monday">Monday</option>
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.tuesday">Tuesday</option>
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.wednesday">Wednesday</option>
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.thursday">Thursday</option>
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.friday">Friday</option>
					<option data-ng-selected="client.classes[$index].weekday == $root.WEEKDAYS.saturday">Saturday</option>
				</select>

				<label>Time</label>
				<input type="time" min="05:00:00" max="23:30:00"
					data-ng-model="client.classes[$index].time" required />

				<label>Duration</label>
				<input type="range" min="30" max="120"
					data-ng-model="client.classes[$index].duration" required />
				{{client.classes[$index].duration}} minutes
			</fieldset>

			<button data-ng-click="$root.clientFormMode = false">Cancel</button>
			<button data-ng-click="save()">Save</button>
		</form>
		
		<footer>
      <small>© Copyright 2014 Rafael Dantas Justo. All rights reserved.</small>
    </footer>
		
		<script src="/assets/js/angular.min.js"></script>
		<script src="/assets/js/druns.js"></script>
	</body>
</html>